<h1>Activities and Attractions</h1>
<p style="border: solid; background-color:tan">
    The Florida Keys are incredible! Did you know there are approximately 5,643,802 activities worth doing? And only
    a million or so of them involve the ocean! I did not make those numbers up, honest.
    <br>
    <br>
    My dream vacation would involve many things, too many to list them all here, so I'll just talk about a few and 
    provide links if you would like to gather more information.
    <br>
    <br>
    Did you know the Florida Keys are home to the US' only living coral barrier reef? The coral provides a beautiful 
    home for untold numbers of fish and other organisms. I would be ecstatic if I could 
    <a href="https://fla-keys.com/diving/">snorkel and see it for myself!</a> 
    There are even shipwrecks covered in coral!
    <br>
    <br>
    I fished a lot with my dad when I was a kid, 
    <a href="https://fla-keys.com/fishing/">so of course that's going to be on my list!</a> I've never caught an ocean 
    fish before but I imagine it's not too different from catching a perch or bluegill. Though apparently some of those
    fish get to be as long and heavy as people! I would be so excited if I caught a swordfish!
    <br>
    <br>
    I would also check out the restaurant scene. Obviously they've got a lot of fish, but they also have 
    <a href="https://fla-keys.com/food-drink/">pink shrimp and stone crabs!</a> 
    In a method that is both barbaric and very clever, fishermen will take just one claw from a stone 
    crab and return it to the ocean where it will grow the claw back. I'VE GOT TO TRY IT.
</p>
<p style="text-align: center;">For more information, check out the <a href="https://fla-keys.com/">tourism web page!</a></p>