<h1>Places to Stay</h1>
<p style="border: solid; background-color:tan">
    Okay look, this is my DREAM vacation. I'm not going to stay at some crummy AirBNB or chain hotel. Instead, 
    I plan on renting a yacht and just sleeping there. It'll be great!
    <br><br>
    But alas, I understand that you might not be able to do the same. Yachts are expensive! And I suppose they're
    not the best to sleep in when a storm is coming in from the Atlantic Ocean. (Maybe I should get a backup hotel
    after all...)
    <br><br>
    Lucky for you, I have found this nifty graph that shows statistics on how much the average cost per night would 
    be for a hotel at Key West! Just click the Download button below to get a copy. Then you'll be well on your way 
    to staying at finest non-yacht you can afford!
    <br>
    <a href=key-west-adr-hotel-rates-tourism-statistics.pdf download="hotelrates.pdf"><button>Download</button></a>
    <br>
</p>
<p style= "color: rgb(155, 9, 9);">
    Wait, did you think I would just give out specific hotel recommendations? Nope, the header is a lie. You're not 
    supposed to steal my vacation ideas, remember? If I gave you the hotel name, I'd just end up seeing you in the 
    lobby and we can't have that! <b><i><u>You did read the terms of service, right?</u></i></b>
</p>